.dogImage {
    width: 500px;
    height: 400px;
}

.startPageContainer {
    height: 100vh;
}

.landingPageHeader {
    text-align: center;
}

.startPageImageContainer {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .dogImage {
        width: 300px;
    }
}